
#theme-switch {
    height: 50px;
    width: 50px;
    padding: 0;
    border-radius: 50%;
    background-color: var(--white);
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    margin-left: auto;
}

#theme-switch svg {
    fill: var(--mediumgray);
}

#theme-switch svg:last-child {
    display: none;
}

.darkmode #theme-switch svg:first-child {
    display: none;
}

.darkmode #theme-switch svg:last-child {
    display: block;
}

@media (max-width: 768px) {
    .logo-section {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
    }

    header {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }

    header .navbar {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        width: 100%;
    }

    header .navbar a {
        width: 100%;
        padding: 1rem;
        text-align: left;
    }

    #theme-switch {
        margin-left: 0;
        margin-top: 1rem;
    }
}
